.header-area {
    text-align: center;
}
.header-area img {
    width: 200px;
    height: 150px;
}

.head {
    background-color: #AE191E;
    color: #BAD52E;
    padding: 10px 0;
    margin: 0;
}
.title{
    color:tomato;
    padding: 10px 0;
    margin: 0;

}